@keyframes flip {
    from{transform: rotateY(0deg);}
    to{transform: rotateY(180deg);}
}

@keyframes fade {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

html {
    pointer-events: none;
    overflow: hidden;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('images/wood.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    font-family: 'Poiret One', cursive;
    font-size: 1.2vw;
    user-select: none;
}

#draggableArea {
    height: 100%;
    width: 100%;
}

/*Stats container and statistics*/

#statsContainer {
    height: 14vh;
    width: 33vw;
    display: inline-grid;
    grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto;
    grid-template-rows: [row-1] auto [row-2] auto;
    grid-gap: 1vh;
    justify-items: center;
    text-align: center;
    margin: 2vh 2vw;
}

#statsContainer > div {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

#statsContainer > div > h4 {
    margin-top: 0;
    font-family: 'Limelight', cursive;
    font-size: 1.5vw;
}

/*Crime container and crimes*/

#crimesContainer {
    position: relative;
    width: 58vw;
    height: 16vh;
    display: inline-grid;
    grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto;
    grid-template-rows: [row-1] auto;
    grid-gap: 2vh;
    justify-items: center;
    align-items: center;
    margin: 2vh 2vw;
}

.crime {
    height: 100%;
    width: 100%;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.crimeTitle {
    margin: 0;
    font-family: 'Limelight', cursive;
    font-size: 1.3vw;
}

.crimeText {
    font-size: 1.2vw;
}

.crimeTextSolved {
    text-decoration-color: black;
    text-decoration-line: line-through;
}

/*Card container and cards*/

#cardContainer {
    position: relative;
    width: 28vw;
    height: 30vw;
    margin-top: 2vw;
    margin-left: 2vw;
    vertical-align: top;
    display: inline-grid;
    grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto;
    grid-template-rows: [row-1] auto [row-2] auto [row-3] auto;
    grid-gap: 2vw;
    justify-items: center;
    align-items: center;
}

/*Flipping motion based on: https://desandro.github.io/3dtransforms/docs/card-flip.html*/
.card {
    /*height: 9vw;*/
    /*width: 6vw;*/
    height: 100%;
    width: 100%;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    font-size: 0;
    z-index: 2;
    pointer-events: auto;
    /* If a card is dropped back into the card container, an inline style is applied, this overrides that */
    /* left: inherit !important;
    top: inherit !important; */
}
.card:hover {
    cursor: move;
}

.cardBack {
    background-image: url(./images/clue_small.png);
    background-size: 100%;
    background-color: firebrick;
    background-position-y: 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 0.25vw black;
    height: 100%;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    pointer-events: none;
    /*height: 10vw;*/
    /*width: 6vw;*/
}

.cardFront {
    height: 100%;
    width: 100%;
    top: 0;
    background-size: 100%;
    background-position-x: -2%;
    box-shadow: 0 0 0 0.25vw black;
    position: absolute;
    transform: rotateY( 180deg );
    pointer-events: none;
    backface-visibility: hidden;
    /*height: 10vw;*/
    /*width: 6vw;*/
}

.card.flipped {
    transform: rotateY( 180deg );
    pointer-events: none;
}

.droppedCard1 {
    /*height: 25vh;*/
    /*width: 17vh;*/
    /*height: 57%;*/
    /*width: 36%;*/
    /* inline styling appearing on card drop from plugin, !important is overriding that*/
    /* left: 2vw !important;
    top: 2vw !important; */
    left: 2vw;
    top: 4vw;
    position: absolute;
    /* margin: 1vh; */
    display: inline-block;
    /* z-index: 20 */
}

.droppedCard2 {
    /*height: 25vh;*/
    /*width: 17vh;*/
    /*height: 57%;*/
    /*width: 36%;*/
    /* left: 11vw !important;
    top: 2vw !important; */
    left: 12vw;
    top: 4vw;
    position: absolute;
    /* margin: 1vh; */
    display: inline-block;
    /* z-index: 20 */
}

.matchedCard {
    border: 0.5vw solid firebrick;
}

/*Room container and rooms*/

#roomsContainer {
    position: relative;
    width: 64vw;
    height: 77vh;
    margin-top: 1vw;
    margin-left: 2vw;
    vertical-align: top;
    display: inline-grid;
    grid-template-columns: [col-1] auto [col-2] auto [col-3] auto;
    grid-template-rows: [row-1] auto [row-2] auto;
    grid-gap: 2vw;
    justify-items: center;
    align-items: center;
    /* z-index: -12; */
}

.room {
    height: 95%;
    width: 98%;
    border: 1px solid black;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    white-space: nowrap;
    background-size: cover;
    position: relative;
    perspective: 800px;
    box-shadow: 0 0 0 0.25vw black;
}

/*Loading screen for starting a new game*/
.loadingScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: fade 8s;
    background-image: url('./images/loading_screen.png');
    background-position: 50% 50%;
    background-size: 100%;
    z-index: 50;
}

/*Start game button */
.newGameButton {
    background-color: transparent;
    border: 2px solid antiquewhite;
    color: antiquewhite;
    font-family: 'Poiret One', cursive;
    font-size: 1vw;
    grid-column-start: col-2;
    grid-column-end: col-4;
    box-sizing: border-box;
    pointer-events: auto;
    user-select: none;
    font-family: 'Limelight', cursive;
}

/*Opening and win modals */
.modal {
    z-index: 10;
}

.modal-content {
    background-color: black;
}

.modal-header {
    border-bottom: 1px solid antiquewhite;
}

.modal-footer {
    border-top: 1px solid antiquewhite;
}

.modal-footer > button {
    font-weight: bold;
    font-size: 0.8em;
    background-color: transparent;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    pointer-events: auto;
}

.modal-footer > button:hover {
    background-color: inherit;
    color: firebrick;
    border: 1px solid antiquewhite;
}

#winModal .modal-footer > :nth-child(1) {
    position: relative;
    left: -71%;
}

/* Mobile responsive styling*/

@media (orientation:portrait) {
    .newGameButton {
        position: absolute;
        left: 37%;
        top: 8%;
        font-size: 2vw;
    }

    #statsContainer {
        height: 8vh;
        width: 96vw;
    }

    #statsContainer > div > p {
        font-size: 2.5vw;
    }

    #crimesContainer {
        width: 96vw;
        grid-gap: 1vw;
        height: 24vw;
    }

    #cardContainer {
        width: 65vw;
        margin-left: 17vw;
        height: 30vw;
        margin-bottom: 2vw;
        grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto;
        grid-template-rows: [row-1] auto [row-2] auto;
    }

    .droppedCard1 {
        top: 8vw;
        left: 4vw;
    }

    .droppedCard2 {
        left: 15vw;
        top: 8vw;
    }

    #roomsContainer {
        width: 96vw;
        height: 41vh;
    }

    #statsContainer > div > h4 {
        font-size: 2.5vw;
    }

    .crimeTitle {
        font-size: 2.4vw;
    }

    .crimeText {
        font-size: 2.5vw;
    }

    .modal {
        font-size: 3vw;
    }

    .loadingScreen {
        height: 100%;
        width: 287%;
        background-image: url(./images/loading_screen_portrait.png);
        background-position: 326% 0%;
        background-size: 116%;
        background-repeat: no-repeat;
    }
}

/* iPhoneX size*/
@media only screen and (orientation: portrait) and (max-width: 425px) and (min-height: 800px) {
    #roomsContainer {
        width: 64vw;
        height: 44vh;
        margin-top: 6vw;
        margin-left: 17vw;
        grid-template-columns: [col-1] auto [col-2] auto;
        grid-template-rows: [row-1] auto [row-2] auto [row-3] auto;
    }

    .loadingScreen {
        height: 100%;
        width: 287%;
        background-image: url('./images/loading_screen_portrait.png');
        background-position: 238% 0%;
        background-size: 124%;
        background-repeat: no-repeat;
    }
}

/* //Nexus 10 size
@media only screen and (orientation: portrait) and (min-width: 800px) and (min-height: 1200px) {
    #roomsContainer {
        width: 54vw;
        height: 42vh;
        margin-top: 4vw;
        margin-left: 21vw;
        grid-template-columns: [col-1] auto [col-2] auto;
        grid-template-rows: [row-1] auto [row-2] auto [row-3] auto;
    }

    .loadingScreen {
        height: 100%;
        width: 287%;
        background-image: url(./images/loading_screen_portrait.png);
        background-position: 535% 0%;
        background-size: 109%;
        background-repeat: no-repeat;
    }
} */

/* Tablet size*/
@media only screen and (orientation: portrait) and (min-width: 700px) and (min-height: 800px) {

    /* .loadingScreen {
        height: 100%;
        width: 287%;
        background-image: url(./images/loading_screen_portrait.png);
        background-position: 535% 0%;
        background-size: 109%;
        background-repeat: no-repeat;
    } */

    #crimesContainer {
        height: 12vw;
    }

    .crimeText {
        font-size: 2vw;
    }

    .droppedCard1 {
        top: 3vw;
    }

    .droppedCard2 {
        top: 3vw;
    }

    .newGameButton {
        left: 39%;
    }
}


/* Smaller laptop */
@media only screen and (orientation: landscape) and (min-width: 1024px) {
    .newGameButton:hover {
        background-color: black;
     }
}